@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-Pelak;
  }
  body {
    direction: rtl;
  }
  img {
    @apply w-full h-full object-cover;
  }
}

@layer components {
  .content {
    margin: 0 auto;
    padding: 0 1rem;
  }
  .transition {
    @apply transition-all duration-200;
  }
}

.swiper-pagination-bullet {
  transition: all 0.2s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffffa3 !important;
  width: 2rem !important;
  border-radius: 10px !important;
}

.bullet-active-rose .swiper-pagination-bullet-active {
  background-color: #f97d7d !important;
}
